*{
  margin:0;
  padding:0;
}
header{
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.theme-toggle img {
  display: block;
}

nav{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.buttons{
  background-color: #B0C4DE;
  padding: 5px;
}
#income-expenses, #friends-ledger, #stats{
  border: none;
  padding: 5px 40px;
  font-size: 15px;
  font-style: bold;
  cursor: pointer;
}
main {
  max-width: 1100px;
  width: 70%;
  margin: 0 auto;
}

/* Main balance card */
.balance-card {
  background-color: #1f6bff;
  color: white;
  padding: 20px;
  border-radius: 14px;
  width: 100%;
  margin-top: 24px;
}

/* Header */
.balance-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}

/* Big balance amount */
.balance-amount {
  margin: 16px 0;
  font-size: 28px;
  font-weight: bold;
  margin-top: 50px;
}

/* Income & expense row */
.balance-records {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 12px;
}

/* Each record */
.record {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
}

/* Icon + label */
.record-label {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Amount */
.record-amount {
  font-size: 20px;
  font-weight: 600;
}

.record.expense {
  margin: 0 auto;
}

.transaction-card {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
  margin-top: 32px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Title */
.transaction-card h3 {
  margin-bottom: 8px;
  font-size: 20px;
}

/* Labels */
.transaction-card label {
  font-size: 17px;
  font-weight: 500;
}

/* Inputs & selects */
.transaction-card input,
.transaction-card select {
  padding: 14px;
  border-radius: 10px;
  border: none;
  background-color: #f4f4f4;
  font-size: 14px;
  outline: none;
}

/* Placeholder text */
.transaction-card input::placeholder {
  color: #999;
}

/* Button */
.transaction-card button {
  margin-top: 16px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(to right, #0f0f1f, #000);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

/* Button hover (optional) */
.transaction-card button:hover {
  opacity: 0.9;
}





