*{
  margin:0;
  padding:0;
}
header{
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.theme-toggle img {
  display: block;
}

nav{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.buttons{
  background-color: #B0C4DE;
  padding: 5px;
}
#income-expenses, #friends-ledger, #stats{
  border: none;
  padding: 5px 40px;
  font-size: 15px;
  font-style: bold;
  cursor: pointer;
}
main{
  max-width: 70%;
}
